
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:focus {
  outline: 0;
}
img {
  border: none;
  display: inline-block;
  max-width: 100%;
}

button {
  position: relative;
  width: 30vw;
  height: 30vh;
  background: grey;
}